
// Base
// -------------------

// Used for global styles
// Or to override certain Atom core styles

// -------------------


body {
  font-size: @font-size;
  color: @text-color;
  background-color: @app-background-color;
}

atom-pane {
  border-right: 1px solid @base-border-color;
  &:last-child {
    border-right: none;
  }
}

.input-checkbox {
  background-color: @p8-dark-gray;
  border: 1px solid @p8-light-gray;
  &:checked {
    background-color: @p8-white;
  }
}

.atom-dock {
  &-toggle-button &-toggle-button-inner {
    background-color: @p8-red;
  }
  &-resize-handle {
    background-color: @p8-red;
  }
}

.icon-chevron-up::before {
  content: "\f0aa";
}

.icon-chevron-down::before {
  content: "\f05b";
}

.icon-chevron-left::before {
  content: "\f044";
}

.icon-chevron-right::before {
  content: "\f05a";
}

.terminal-pane {
  background-color: @p8-black;
  color: @p8-white;
}

atom-notifications atom-notification.fatal a {
  color: @p8-dark-purple;
}

.icon-hourglass::before, .loading-message::before {
  width: 16px;
  height: 16px;
  background: url("atom://pico-8-ui/img/pico-8-spinner-128.gif") center no-repeat;
  background-size: 16px 16px;
  content: "";
}
